.one-section {
    height: 70%;
    width: 100%;

    position: relative;
    padding-top: 50px;
}

.info-section {
    width: 100%;
    height: auto;

    margin: 20px 0px;
}

.section-name {
    width: 100%;
    height: auto;

    text-align: center;
    font-size: 3vmax;
    color: #ffffff;
}

.section-info {
    width: 100%;
    padding: 5px;

    text-align: center;
    font-size: 1.2vmax;
    color: #ffffff;
}

.timer {
    position: relative;
    top: 70%;

    text-align: center;
    font-size: 30px;
    color: #ffffff;
}


.problems-container {
    width: 100%;
    height: 310px;

    overflow-y: auto;

    border-top: 2px groove #555555;
    border-bottom: 2px groove #555555;

    position: relative;
    margin: 100px 0px;
}

.contest-list-style {
    height: 50px;

    margin: 20px 0px;
    padding: 5px 5px;
    border-radius: 15px;
    cursor: pointer;

    transition-duration: 0.5s;
    
    font-size: 20px;
    color: #ffffff;
}

.contest-list-style:hover {
    background-color: #ffffff;
    color: var(--global-color-DarkBlue);
}