* {
    color: var(--global-color-DarkBlue);
}
.edit-contest-list-style {
    transition-duration: 0.1s;
}
.edit-contest-list-style:hover {
    background-color: var(--global-color-DarkBlue);
}
.edit-contest-list-style:hover > div {
    color: #ffffff;
}

.edit-contest-input {
    border: none !important;
    outline: none;
    width: 100px;
    padding-left: 5px;
    font-size: 0.9vmax;
}

.contest-link {
    padding-left: 20px;
    color: #777777;
    font-size: 1vmax;
    cursor: pointer;
}

.contest-link:hover {
    text-decoration: underline;
}