#main-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--global-color-DarkBlue);
}

.title {
    position: relative;
    width: 70%;
    left: 15%;
    padding: 100px 0px 10px 20px;
    color: var(--global-color-White);
    font-size: 3vmax;
}


.table-container {
    position: relative;
    width: 70%;
    left: 15%;
    height: 60%;
    overflow-y: scroll;
}

tr {
    font-size: 1vmax;
    color: var(--global-color-Grey);
    background-color: transparent;
    transition-duration: 0.1s;
    cursor: pointer;
}

th {
    position: sticky;
    top: 0;
    text-align: left;
    font-size: 1.3vmax;
    color: var(--global-color-Grey);
    background-color: var(--global-color-DarkBlue);
}

tbody>tr:hover {
    color: var(--global-color-DarkBlue);
    background-color:  var(--global-color-White);
}

td, th {
    padding: 2%;
}