:root {
    --global-color-DarkBlue: rgb(8, 12, 30);
    --global-color-Blue: rgb(32, 36, 56);
    --global-color-White: #ffffff;
    --global-color-Black: #000000;
    --global-color-Grey: #aaaaaa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html, body {
    width: 100%;
    height: 100%;
}

.centering-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
}

::-webkit-scrollbar {
    width: 0px;
}

#nav-bar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--global-color-DarkBlue);
    border-bottom: 1px solid var(--global-color-Black);
}

#logo {
    position: absolute;
    margin: 10px 0 10px 30px;
}

#logo img {
    float: left;
}

#menu {
    position: fixed;
    height: 50px;
    width: 70%;
    margin: 10px 0 10px 140px;
}

#account {
    position: absolute;
    height: 50px;
    right: 0px;
    margin: 10px 30px 10px auto;
}

.nav-item {
    float: left;
    height: 100%;
    transition-duration: 0.2s;
}

.nav-item div {
    text-align: center;
    font-weight: bold;
    color: var(--global-color-Grey);
    transition-duration: 0.2s;

    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
    
}


@media (max-width: 670px) {
    .nav-item {
        margin: 0 5% 0 5%;
    }
    .nav-item div {
        font-size: 3vw;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 671px) {
    .nav-item {
        margin: 0 20px 0 20px;
    }
    .nav-item div {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.nav-item:hover > div{
    color: var(--global-color-White);
}
.nav-item:hover {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 10%;
}